{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.12.0"}
]}.

{relx, [
    {release, {karuta_website, "0.1.0"}, [
        karuta_website,
        cowboy,
        sasl
    ]},

    {mode, dev}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
